


#listBlock {
   max-width: 900px;
   margin: 20px auto;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


#listOutput {
    
    list-style-type: none;
   padding: 0;
   margin: 20px 0;
}

#listOutput li{
    list-style: none;
     background-color: orange;
   border: 2px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   margin: 10px 0;
}