

#listOutput {
    
    list-style-type: none;
   padding: 0;
   margin: 20px 0;
}

#listOutput li{
     background-color: white;
   border: 2px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   margin: 10px 0;
}